Maison-Intelligente/Simulation-Node-red/flows.json
[
    {
        "id": "3c41bcac291d1763",
        "type": "mqtt in",
        "z": "dec4d5b2bcd58229",
        "name": "",
        "topic": "temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ae4b8351.dfe6f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "1c0b465356e9f16f"
            ]
        ]
    },
    {
        "id": "1c0b465356e9f16f",
        "type": "change",
        "z": "dec4d5b2bcd58229",
        "name": "String to Int",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "8998059260aa8e69"
            ]
        ]
    },
    {
        "id": "8998059260aa8e69",
        "type": "ui_gauge",
        "z": "dec4d5b2bcd58229",
        "name": "Temperature Sensor",
        "group": "aa556fd237f78849",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "°C",
        "format": "{{value}}",
        "min": "-50",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "19d7ed5ec7731577",
        "type": "mqtt out",
        "z": "dec4d5b2bcd58229",
        "name": "",
        "topic": "lampe1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae4b8351.dfe6f8",
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "8a0da25c55979519",
        "type": "ui_switch",
        "z": "dec4d5b2bcd58229",
        "name": "Lamp 1",
        "label": "Lamp 1",
        "tooltip": "",
        "group": "cb40a34347d18cf9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "ON",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "OFF",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "19d7ed5ec7731577"
            ]
        ]
    },
    {
        "id": "24e46709dc24c490",
        "type": "mqtt in",
        "z": "dec4d5b2bcd58229",
        "name": "",
        "topic": "hum",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ae4b8351.dfe6f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "321d1c23eca7bdbf"
            ]
        ]
    },
    {
        "id": "321d1c23eca7bdbf",
        "type": "change",
        "z": "dec4d5b2bcd58229",
        "name": "String to Int",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "83d25295c0249d9e"
            ]
        ]
    },
    {
        "id": "83d25295c0249d9e",
        "type": "ui_gauge",
        "z": "dec4d5b2bcd58229",
        "name": "Humidity Sensor",
        "group": "da5639aa3636d11e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "405a478dcd71d7de",
        "type": "mqtt in",
        "z": "dec4d5b2bcd58229",
        "name": "",
        "topic": "gaz",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ae4b8351.dfe6f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "e059a7a28bb23af1"
            ]
        ]
    },
    {
        "id": "e059a7a28bb23af1",
        "type": "change",
        "z": "dec4d5b2bcd58229",
        "name": "String to Int",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "78ce39b17c6362dc"
            ]
        ]
    },
    {
        "id": "78ce39b17c6362dc",
        "type": "ui_gauge",
        "z": "dec4d5b2bcd58229",
        "name": "Gaze Sensor",
        "group": "e2e341086f306ea9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#000040",
            "#000040"
        ],
        "seg1": "10",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "9e8385286d5ed687",
        "type": "mqtt out",
        "z": "dec4d5b2bcd58229",
        "name": "",
        "topic": "lampe2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae4b8351.dfe6f8",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "a73ffea6b184edd1",
        "type": "ui_switch",
        "z": "dec4d5b2bcd58229",
        "name": "Lamp 2",
        "label": "Lamp 2",
        "tooltip": "",
        "group": "cb40a34347d18cf9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "9e8385286d5ed687"
            ]
        ]
    },
    {
        "id": "6045565716190774",
        "type": "mqtt out",
        "z": "dec4d5b2bcd58229",
        "name": "",
        "topic": "lampe3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae4b8351.dfe6f8",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "2a5716a6753f60ea",
        "type": "ui_switch",
        "z": "dec4d5b2bcd58229",
        "name": "Lamp 3",
        "label": "Lamp 3",
        "tooltip": "",
        "group": "cb40a34347d18cf9",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "6045565716190774"
            ]
        ]
    },
    {
        "id": "a5f0ac511c850b9c",
        "type": "mqtt out",
        "z": "dec4d5b2bcd58229",
        "name": "",
        "topic": "lampe4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae4b8351.dfe6f8",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "0b458a42b65d79db",
        "type": "ui_switch",
        "z": "dec4d5b2bcd58229",
        "name": "Lamp 4",
        "label": "Lamp 4",
        "tooltip": "",
        "group": "cb40a34347d18cf9",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 300,
        "y": 500,
        "wires": [
            [
                "a5f0ac511c850b9c"
            ]
        ]
    },
    {
        "id": "9369c02f2c7802b2",
        "type": "mqtt out",
        "z": "dec4d5b2bcd58229",
        "name": "",
        "topic": "lampe5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae4b8351.dfe6f8",
        "x": 720,
        "y": 560,
        "wires": []
    },
    {
        "id": "1ea20aa6b221549a",
        "type": "ui_switch",
        "z": "dec4d5b2bcd58229",
        "name": "Lamp 5",
        "label": "Lamp 5",
        "tooltip": "",
        "group": "cb40a34347d18cf9",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "9369c02f2c7802b2"
            ]
        ]
    },
    {
        "id": "f7d43f5889be87dc",
        "type": "mqtt out",
        "z": "dec4d5b2bcd58229",
        "name": "",
        "topic": "Raise-Curtain",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae4b8351.dfe6f8",
        "x": 740,
        "y": 660,
        "wires": []
    },
    {
        "id": "d59bf9049162fcc6",
        "type": "ui_switch",
        "z": "dec4d5b2bcd58229",
        "name": "Raise Curtain",
        "label": "Raise Curtain",
        "tooltip": "",
        "group": "bec4bed1d5f92db4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 660,
        "wires": [
            [
                "f7d43f5889be87dc"
            ]
        ]
    },
    {
        "id": "cd3e40836999ad7a",
        "type": "mqtt out",
        "z": "dec4d5b2bcd58229",
        "name": "",
        "topic": "Come-Down-Curtain",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae4b8351.dfe6f8",
        "x": 760,
        "y": 720,
        "wires": []
    },
    {
        "id": "791399942124e485",
        "type": "ui_switch",
        "z": "dec4d5b2bcd58229",
        "name": "Come Down Curtain",
        "label": "Come Down Curtain",
        "tooltip": "",
        "group": "bec4bed1d5f92db4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 340,
        "y": 720,
        "wires": [
            [
                "cd3e40836999ad7a"
            ]
        ]
    },
    {
        "id": "91ea1364faa87e52",
        "type": "mqtt out",
        "z": "dec4d5b2bcd58229",
        "name": "",
        "topic": "Cooling",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae4b8351.dfe6f8",
        "x": 720,
        "y": 800,
        "wires": []
    },
    {
        "id": "83febab0af3dd1cf",
        "type": "ui_switch",
        "z": "dec4d5b2bcd58229",
        "name": "Cooling",
        "label": "Cooling",
        "tooltip": "",
        "group": "8dbd77fa70b88e85",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 300,
        "y": 800,
        "wires": [
            [
                "91ea1364faa87e52"
            ]
        ]
    },
    {
        "id": "ae4b8351.dfe6f8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aa556fd237f78849",
        "type": "ui_group",
        "name": "Temperature Sensor",
        "tab": "9a58f337076254ec",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb40a34347d18cf9",
        "type": "ui_group",
        "name": "Lighting System",
        "tab": "9a58f337076254ec",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da5639aa3636d11e",
        "type": "ui_group",
        "name": "Humidity Sensor",
        "tab": "9a58f337076254ec",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2e341086f306ea9",
        "type": "ui_group",
        "name": "Gaze Sensor",
        "tab": "9a58f337076254ec",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bec4bed1d5f92db4",
        "type": "ui_group",
        "name": "Curtain Control",
        "tab": "9a58f337076254ec",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8dbd77fa70b88e85",
        "type": "ui_group",
        "name": "Cooling System",
        "tab": "9a58f337076254ec",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a58f337076254ec",
        "type": "ui_tab",
        "name": "MAISON INTELLIGENTE",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]